<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Profile Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="profilemasterForm" (ngSubmit)="saveProfileMaster()">
      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Company Name:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CompanyName" type="text" pInputText id="companyname" name="companyname" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Company Name </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Email ID:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EmailId" type="text" pInputText id="emailid" name="emailid" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Email ID </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>PhoneNo :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PhoneNo" type="text" pInputText id="phoneno" name="phoneno" class="form-control">
                  <!--<label for="float-input">Please Enter Phone No </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Mobile No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="MobileNo" type="text" pInputText id="mobileno" name="mobileno" class="form-control">
                  <!--<label for="float-input">Please Mobile No </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Address :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Address" type="text" pInputText id="address" name="address " class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Address </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Thanks Note :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ThankYouNote" type="text" pInputText id="thankyounote" name="thankyounote" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Thanks Note </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>GST No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="GstNo" type="text" pInputText id="gstno" name="gstno" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter GST No </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Company Logo:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CompanyLogo" type="text" pInputText id="companylogo" name="companylogo" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter GST No </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
