<table style="border:ridge;">
  <thead>
    <tr>
      <td>
        <div class="header-space"></div>
      </td>
    </tr>
  </thead>
  <hr>
  <tbody>
    <tr>
      <td>
        <div class="content">
          <router-outlet></router-outlet>
        </div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <div class="footer-space"></div>
      </td>
    </tr>
  </tfoot>
</table>

<div class="header" style="text-align:center;">
  <img src="../../../assets/img/header.png" />
  <!--<pre style="width:680px;">
  <strong>TRAIKYA AGRO INDIA</strong>
  <strong>55,98/6 A, Near Koyana Sociaty, Behind Satara Texttile Market, Satara, 415002,</strong>
  <strong>Mobile No: 8600548826/8600548827</strong>
  <strong>Reg No : MH26A0140311</strong>
  </pre>-->
</div>
<div class="footer"></div>
