<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Taluka Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="talukaForm" (ngSubmit)="saveTalukaMaster()">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>State :</strong></label>
              <p-autoComplete formControlName="State" appValidationBorder [suggestions]="stateList" (completeMethod)="searchState($event)"
                              [dropdown]="true" [forceSelection]="true" (onSelect)="onSelectState($event)" field="StateName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>District :</strong></label>
              <p-autoComplete formControlName="District" appValidationBorder [suggestions]="districtList" (completeMethod)="searchDistrict($event)"
                              [dropdown]="true" [forceSelection]="true" field="DistrictName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Taluka Name:</strong></label>
              <span class="ui-float-label">
                <input formControlName="TalukaName" appValidationBorder type="text" pInputText id="talukaname" name="talukaname" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
