<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h4>Outward Details Report</h4>
      </div>
    </div>
  </div>
  <div class="row">
    <div style="width:60%">
      <strong>Record No : {{FarmerOutwardMaster.RecordNo}}</strong>
    </div>
    <div style="width:40%">
      <strong>Date : {{FarmerOutwardMaster.Date| date:'dd/MM/yyyy'}}</strong>
    </div>
  </div>

  <div class="row">
    <div style="width:60%">
      <strong>CustomerName : {{FarmerOutwardMaster.Customer.CustmerName}}</strong>
    </div>
    <div style="width:40%">
      <strong>Location : {{FarmerOutwardMaster.LocationName}}</strong>
    </div>
  </div>
  <div class="row">
    <div style="width:60%">
      <strong> Plan : {{FarmerOutwardMaster.PlanName}}</strong>
    </div>
    <div style="width:40%">
      <strong> </strong>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><strong>Order summary</strong></h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td style="width:250px"><strong>Product Name</strong></td>
                  <td style="width:250px" class="text-center"><strong>Standard Pack</strong></td>
                  <td class="text-right"><strong>Quantity</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of FarmerOutwardDetailsList">
                  <td style="width:250px"><strong>{{item.Product.ProductName}}</strong></td>
                  <td style="width:250px" class="text-center"><strong>{{item.ProductTypeUnit}}</strong></td>
                  <td class="text-right"><strong>{{item.Quantity}}</strong></td>
                </tr>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <table border='0' width='690px' height="50px" cellpadding='0' cellspacing='0' align='center'>
    <tr> <td colspan="6"></td></tr>
    <tr></tr>
    <tr></tr>
    <tr>
      <td align='left' height="25px"><strong> ( Receiver Sign ) </strong></td>
      <td align='right' height="25px"><strong>( Authorised Signature ) </strong></td>
    </tr>
  </table>
</div>
