<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Booking Order</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="bookingdetailsForm" (ngSubmit)="saveBookingDetails()">
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Record No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="RecordNo" type="text" pInputText id="recordno" name="recordno" class="form-control" rows="3" disabled>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location :</strong></label>
              <select formControlName="LocationId" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Customer Name :</strong></label>
              <select formControlName="CustomerId" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Date :</strong></label>
              <div>
                <span class="ui-float-label">
                  <p-calendar formControlName="BookingDate" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Mobile No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="MobileNo" type="text" pInputText id="mobileno" name="mobileno" class="form-control" rows="3" disabled />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Plan :</strong></label>
              <select formControlName="PlanId" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>No Of Plan :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="NoOfPlan" type="text" pInputText id="noofplan" name="noofplan" class="form-control" rows="3" disabled />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>No Of Chicks :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="NoOfChicks" type="text" pInputText id="noofchicks" name="noofchicks" class="form-control" rows="3" disabled />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Amount :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Amount" type="text" pInputText id="amount" name="amount" class="form-control" rows="3" disabled />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Unit Manager :</strong></label>
              <select formControlName="EmployeeId" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Enquiry Reference :</strong></label>
              <select formControlName="EnquiryRef" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Agreement :</strong></label>
              <select formControlName="Agreement" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Yes</option>
                <option value="2">No</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Eggs Liability :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EggsLiability" type="text" pInputText id="eggsliability" name="eggsliability" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <!--<input formControlName="NoOfPlanCancel" type="text" pInputText id="noofplancancel" name="noofplancancel" class="form-control" disabled="disabled">-->
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card-block">
              <div class="form-group">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-header">
        <strong>Payment Details</strong>
        <!--<small>Form</small>-->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Payment Method :</strong></label>
              <select formControlName="PaymentMethod" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Cash</option>
                <option value="2">Cheque</option>
                <option value="3">Card</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Cheque No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ChequeNo" type="text" pInputText id="chequeno" name="chequeno" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Paid Amount :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PaidAmount" type="text" pInputText id="paidamount" name="paidamount" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Narration :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Narration" type="text" pInputText id="narration" name="narration" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>
      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
