<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>SubType Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="subtypeForm" (ngSubmit)="saveSubTypeMaster()">
      <div class="row">
        <div class="col-sm-8">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Type :</strong></label>
              <p-autoComplete formControlName="Type" appValidationBorder [suggestions]="typeList" (completeMethod)="searchType($event)"
                              [dropdown]="true" [forceSelection]="true" field="TypeName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>SubType Details:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="SubType" appValidationBorder type="text" pInputText id="subtype" name="subtype" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
