<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Enquiry Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="enquiryForm" (ngSubmit)="saveEnquiry()">
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Record No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="RecordNo" type="text" pInputText id="recordno" name="recordno" class="form-control" rows="3" disabled />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Date :</strong></label>
              <div>
                <span class="ui-float-label">
                  <p-calendar formControlName="Date" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Customer Name :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CustomerName" type="text" pInputText id="customername" name="customername" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Enquiry :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Enquiry" type="text" pInputText id="enquiry" name="enquiry" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Required Qty :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="RequiredQty" type="text" pInputText id="requiredqty" name="requiredqty" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>District :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="District" type="text" pInputText id="district" name="district" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Taluka :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Taluka" type="text" pInputText id="taluka" name="taluka" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>City :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="City" type="text" pInputText id="city" name="city" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Pin Code :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PinCode" type="text" pInputText id="pincode" name="Pincode" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Mobile No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="MobileNo" type="text" pInputText id="mobileno" name="mobileno" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Address :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Address" type="text" pInputText id="address" name="address" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Remind Date :</strong></label>
              <div>
                <span class="ui-float-label">
                  <p-calendar formControlName="RemindDate" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class=" row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Enquiry Type :</strong></label>
              <select formControlName="EnquiryType" id="select" name="enquirytype" class="form-control">
                <option value="Please select">Please select</option>
                <option value="Telephonic">Telephonic</option>
                <option value="Refferal">Online</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Narration :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Narration" type="text" pInputText id="narration" name="narration" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location :</strong></label>
              <p-autoComplete formControlName="Location" [suggestions]="locationList" (completeMethod)="searchLocation($event)"
                              [dropdown]="true" [forceSelection]="true" field="LocationName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary" >&nbsp; SAVE </button>
      </div>
    </form>
  </div>
</div>
