<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Employee Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="employeeForm" (ngSubmit)="saveEmployee()">
      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Employee Name:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EmployeeName" type="text" pInputText id="employeename" name="employeename" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Employee Name </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Employee Mobile No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PersonalContactNo" type="text" pInputText id="personalcontactno" name="personalcontactno" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Employee Mobile No </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-block">
        <div class="form-group ">
          <label for="textarea-input"><strong>Address Details:</strong></label>
          <div>
            <span class="ui-float-label">
              <textarea formControlName="Address" id="textarea-input" name="textarea-input" rows="2" class="form-control"></textarea>
              <!--<label for="float-input">Enter Employee Address Details.. </label>-->
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Education Details:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EducationDetails" type="text" pInputText id="educationdetails" name="educationdetails" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Education Details </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Past Work Experience:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PastWorkExp" type="text" pInputText id="pastworkexp" name="pastworkexp" class="form-control" rows="3">
                  <!--<label for="float-input">Please Enter Past Work Experience </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>District :</strong></label>
              <select formControlName="District" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Taluka :</strong></label>
              <select formControlName="Taluka" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>City :</strong></label>
              <select formControlName="City" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Pan Card No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PanCardNo" id="pancardno" name="pancardno" class="form-control" />
                  <!--<label for="float-input">(Enter Pan Card No) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Aadhar No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AadharId" id="aadharid" name="aadharid" class="form-control" />
                  <!--<label for="float-input">(Please Enter Aadhar Id) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Voter Id:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="VoterId" id="voterid" name="voterid" class="form-control" />
                  <!--<label for="float-input">(Please Enter Voter Id) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Blood Group :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BloodGroup" id="bloodgroup" name="bloodgroup" class="form-control" />
                  <!--<label for="float-input">(Enter Blood Group) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Maritial Status :</strong></label>
              <select formControlName="MaritialStatus" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Married</option>
                <option value="2">Unmarried</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Salary :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Salary" id="salary" name="salary" class="form-control" />
                  <!--<label for="float-input">(Please Enter Salary) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Date Of Joining :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="DateOfJoining" id="dateofjoining" name="dateofjoining" class="form-control" />
                  <!--<label for="float-input">(Enter Date Of Joining) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Date Of Leaving :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="DateOfLeaving" id="dateofleaving" name="dateofleaving" class="form-control" />
                  <!--<label for="float-input">(Enter Date Of Leaving) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Role :</strong></label>
              <select formControlName="Role" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Admin</option>
                <option value="2">Accountant</option>
                <option value="2">Marketing</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location :</strong></label>
              <select formControlName="Location" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Pune</option>
                <option value="2">Mumbai</option>
                <option value="3">Lonavala</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>User Id :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="UserId" id="userid" name="userid" class="form-control" />
                  <!--<label for="float-input">(Enter User Id) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Password :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Password" id="password" name="password" class="form-control" />
                  <!--<label for="float-input">(Enter Password) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Company Mobile No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CompanyMobileNo" id="companymobileno" name="companymobileno" class="form-control" />
                  <!--<label for="float-input">(Enter Company Mobile No) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Post :</strong></label>
              <select formControlName="Post" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">FieldIncharge</option>
                <option value="2">Admin&BackOffice</option>
                <option value="3">UnitManager</option>
                <option value="4">Reception</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Remarks :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Remarks" id="remarks" name="remarks" class="form-control" />
                  <!--<label for="float-input">(Enter Remarks) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Emergency Contact Name :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EmergencyContactName" id="emergencycontactname" name="emergencycontactname" class="form-control" />
                  <!--<label for="float-input">(Enter Emergency Contact Name) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Emergency Contact No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="EmergencyNo" id="emergencyno" name="emergencyno" class="form-control" />
                  <!--<label for="float-input">(Enter Emergency Contact No) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Relation :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Relation" id="relation" name="relation" class="form-control" />
                  <!--<label for="float-input">(Enter Relation) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Bank Name :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BankName" id="bankname" name="bankname" class="form-control" />
                  <!--<label for="float-input">(Enter Bank Name) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Account No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AccountNo" id="accountno" name="accountno" class="form-control" />
                  <!--<label for="float-input">(Enter AccountNo) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>IFSC Code :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="IfscCode" id="ifsccode" name="ifsccode" class="form-control" />
                  <!--<label for="float-input">(Enter IFSCCode) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>MICR Code :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="MicrCode" id="micrcode" name="micrcode" class="form-control" />
                  <!--<label for="float-input">(Enter MICR Code) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Branch Name :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BranchName" id="branchname" name="branchname" class="form-control" />
                  <!--<label for="float-input">(Enter Branch Name) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Account Type :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AccountType" id="accounttype" name="accounttype" class="form-control" />
                  <!--<label for="float-input">(Enter Account Type) </label>-->
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
