<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Expence Details Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="expencedetailsForm" (ngSubmit)="saveexpencedetails()">
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Expence No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ExpencesNo" type="text" pInputText id="expencesno" name="expencesno" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Date:</strong></label>
              <div>
                <span class="ui-float-label">
                  <p-calendar formControlName="Date" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Expence Type :</strong></label>
              <p-autoComplete formControlName="Expence" [suggestions]="expencetypeList" (completeMethod)="searchExpenceType($event)"
                              [dropdown]="true" [forceSelection]="true" field="ExpenceType"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location Name :</strong></label>
              <p-autoComplete formControlName="Location" [suggestions]="locationList" (completeMethod)="searchLocation($event)"
                              [dropdown]="true" [forceSelection]="true" field="LocationName"></p-autoComplete>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Employee Name :</strong></label>
              <p-autoComplete formControlName="Employee" [suggestions]="employeeList" (completeMethod)="searchEmployee($event)"
                              [dropdown]="true" [forceSelection]="true" field="EmployeeName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Payment Type :</strong></label>
              <select formControlName="PaymentMethod" id="paymentmethod" name="paymentmethod" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Cash</option>
                <option value="2">Cheque  </option>
                <option value="3">NEFT/ RTGS </option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Cheque No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ChequeNo" type="text" pInputText id="chequeno" name="chequeno" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Amount:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Amount" type="text" pInputText id="amount" name="amount" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Narration:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Narration" type="text" pInputText id="narration" name="narration" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary" style="float">&nbsp; SAVE </button>
      </div>
    </form>
  </div>
</div>
