<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Sales Receipt</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="salereceiptdetailsForm" (ngSubmit)="saveSalereceipt()">
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Receipt No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ReceiptNo" type="text" pInputText id="receiptno" name="receiptno" class="form-control" rows="3" disabled>
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Date :</strong></label>
              <div>
                <span class="ui-float-label">
                  <p-calendar formControlName="Date" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location :</strong></label>
              <p-autoComplete formControlName="Location" [suggestions]="locationList" (completeMethod)="searchLocation($event)"
                              [dropdown]="true" [forceSelection]="true" field="LocationName"></p-autoComplete>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Customer Name :</strong></label>
              <p-autoComplete formControlName="Customer" [suggestions]="customerList" (completeMethod)="searchCustomer($event)"
                              (onSelect)="calculateSettlementAmount($event)" (change)="($event)" [dropdown]="true" [forceSelection]="true" field="CustmerName"></p-autoComplete>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Payment Type :</strong></label>
              <select formControlName="PaymentType" appValidationBorder (change)="calculateOutstandingAmount($event)" id="select" name="select" class="form-control">
                <option value="Please select">Please select</option>
                <option value="Against Bill">Against Bill</option>
                <option value="Against Booking">Against Booking</option>
              </select>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Booking/Billing Ref. No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BillRefNo" appValidationBorder type="text" pInputText id="billrefno" name="billrefno" class="form-control" rows="3">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-header">
        <strong>Payment Details</strong>
        <!--<small>Form</small>-->
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Outstanding Amount :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="OutstandingAmount" type="text" pInputText id="outstandingamount" name="outstandingamount" class="form-control" disabled>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Payment Method :</strong></label>
              <select formControlName="PaymentMethod" appValidationBorder id="select" name="select" class="form-control">
                <option value="Please select">Please select</option>
                <option value="Cash">Cash</option>
                <option value="Cheque">Cheque</option>
                <option value="Card">Card</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Cheque No :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ChequeNo" type="text" pInputText id="chequeno" name="chequeno" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong> Amount :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CashAmount" appValidationBorder type="text" pInputText id="cashamount" name="cashamount" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Narration :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Narration" appValidationBorder type="text" pInputText id="narration" name="narration" class="form-control">
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Bill Settlement Amount :</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BillSettlementAmount" type="text" pInputText id="billsettlementamount" name="billsettlementamount" class="form-control" disabled>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6">
          <strong>
            <u>NOTE FOR Bill Settlement:-</u> (+) Select Payment Type Against Bill.
          </strong>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="input-group-btn" dropdown>
            <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
          </div>
        </div>
        <div class="col-sm-4">
          <strong>
            &nbsp;&nbsp;  (-) Select Payment Type Against Booking.
          </strong>
        </div>
      </div>
     

    </form>
  </div>
</div>
