<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Booking Order</strong>
      <!--<small>Form</small>-->
    </div>
    <!--<form [formGroup]="bookingdetailsForm" (ngSubmit)="saveBookingDetails()">-->
    <div class="row">
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong>Record No:</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerInwardMaster.RecordNo" readonly="readonly" type="text" pInputText id="recordno" name="recordno" class="form-control" rows="3" disabled>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong>Date :</strong></label>
            <div>
              <span class="ui-float-label">
                <p-calendar [(ngModel)]="FarmerInwardMaster.Date" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Location :</strong></label>

            <p-autoComplete [(ngModel)]="FarmerInwardMaster.Location" [suggestions]="locationList" (completeMethod)="searchLocation($event)"
                            [dropdown]="true" (onSelect)="onSelectLocations($event)" [forceSelection]="true" field="LocationName"></p-autoComplete>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Customer Name :</strong></label>
            <p-autoComplete [(ngModel)]="FarmerInwardMaster.Customer" [suggestions]="customerList" (completeMethod)="searchCustomer($event)"
                            [dropdown]="true" (onSelect)="onSelectCustomers($event)" [forceSelection]="true" field="CustmerName"></p-autoComplete>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Plan :</strong></label>
            <p-autoComplete [(ngModel)]="FarmerInwardMaster.Plan" [suggestions]="planList" (completeMethod)="searchPlan($event)"
                            [dropdown]="true" (onSelect)="onSelectPlans($event)" [forceSelection]="true" field="PlanName"></p-autoComplete>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong>Collection Agent Name :</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerInwardMaster.CollectionAgentName" type="text" pInputText id="collectionagentname" name="collectionagentname" class="form-control" rows="3" >
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <strong>Product Details</strong>
            <div style="width:10px">
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="card-block ">
                <div class="form-group">
                  Product Name
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-block">
                <div class="form-group">
                  standard Pack
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card-block">
                <div class="form-group">
                  <span class="ui-float-label">
                    Quantity
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="card-block">
                <div class="form-group">
                  Action
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngFor="let item of FarmerInwardDetailsList">
            <div class="col-sm-3">
              <div class="card-block">
                <div class="form-group">
                  <span class="ui-float-label">
                    <p-autoComplete [(ngModel)]="item.Product" [suggestions]="productlist" (completeMethod)="searchProduct($event)"
                                    [dropdown]="true" (onSelect)="onSelectProducts($event,item)" [forceSelection]="true" field="ProductName"></p-autoComplete>

                    <label for="float-input"></label>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-block">
                <div class="form-group">
                  <span class="ui-float-label">
                    <p-autoComplete [(ngModel)]="item.Producttypeun" [suggestions]="producttypelist" (completeMethod)="searchProducttype($event,item)"
                                    [dropdown]="true" (onSelect)="onSelectProducttypes($event,item)" [forceSelection]="true" field="ProductTypeUnit"></p-autoComplete>
                    <label for="float-input"></label>
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="card-block">
                <div class="form-group">
                  <span class="ui-float-label">
                    <input type="text"  [(ngModel)]="item.Quantity" pInputText id="ref_by" name="ref_by" class="form-control" rows="3">
                  </span>
                </div>
              </div>
            </div>
            <div class="col-sm-2">
              <div class="card-block">
                <div class="form-group">
                  <button type="button" (click)="removeItem(item)">Delete</button>
                  <i class="fa icon-trash" style="height:25px;width:20px;padding-top:10px;"></i>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10"></div>
            <div class="col-sm-2">
              <button type="button"(click)="addNewItem()">Add new</button>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-10"></div>
        <div class="col-sm-2">
          <button type="button" (click)="saveItems()">save</button>
        </div>
      </div>
    <!--</form>-->
  </div>
</div>

