<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Bill Settlement</strong>
      <!--<small>Form</small>-->
    </div>
    <!--<form [formGroup]="bookingdetailsForm" (ngSubmit)="saveBookingDetails()">-->
    <div class="row">
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Location Name:</strong></label>
            <p-autoComplete [(ngModel)]="FarmerChickEggsBillMaster.Location" [suggestions]="locationList" (completeMethod)="searchLocation($event)"
                            [dropdown]="true" (onSelect)="onSelectLocations($event)" [forceSelection]="true" field="LocationName"></p-autoComplete>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Sale Type :</strong></label>
            <p-autoComplete [(ngModel)]="FarmerChickEggsBillMaster.SaleType" [suggestions]="saletypeList" 
                            [dropdown]="true"  [forceSelection]="true" field="SaleType"></p-autoComplete>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong>Bill No:</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.BillNo"  type="text" pInputText id="billno" name="recordno" class="form-control" rows="3" >
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong> Bill Date :</strong></label>
            <div>
              <span class="ui-float-label">
                <p-calendar [(ngModel)]="FarmerChickEggsBillMaster.BillDate" [showIcon]="true" appValidationBorder showButtonBar="true"></p-calendar>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Customer Name :</strong></label>
            <p-autoComplete [(ngModel)]="FarmerChickEggsBillMaster.Customer" [suggestions]="customerList" (completeMethod)="searchCustomer($event)"
                            [dropdown]="true" (onSelect)="onSelectCustomers($event)" [forceSelection]="true" field="CustmerName"></p-autoComplete>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="select"><strong>Plan :</strong></label>
            <p-autoComplete [(ngModel)]="FarmerChickEggsBillMaster.Plan" [suggestions]="planList" (completeMethod)="searchPlan($event)"
                            [dropdown]="true" (onSelect)="onSelectPlans($event)" [forceSelection]="true" field="PlanName"></p-autoComplete>
          </div>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong> Address :</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.Address" type="text" pInputText id="address" name="address" class="form-control" rows="3" >
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong> Place Of Supply :</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.PlaceOfSupply" type="text" pInputText id="placeofsupply" name="placeofsupply" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <label for="textarea-input"><strong> Outstanding Amount :</strong></label>
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.OutstandingAmt" type="text" pInputText id="outstandingamt" name="outstandingamt" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <strong>Product Details</strong>
          <div style="width:10px">
          </div>

        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="card-block ">
              <div class="form-group">
                Product Name
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                standard Pack
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                <span class="ui-float-label">
                  Quantity
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card-block">
              <div class="form-group">
                Rate
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                Action
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngFor="let item of FarmerChickEggsBillDetailList">
          <div class="col-sm-3">
            <div class="card-block">
              <div class="form-group">
                <span class="ui-float-label">
                  <p-autoComplete [(ngModel)]="item.Product" [suggestions]="productlist" (completeMethod)="searchProduct($event)"
                                  [dropdown]="true" (onSelect)="onSelectProducts($event,item)" [forceSelection]="true" field="ProductName"></p-autoComplete>

                  <label for="float-input"></label>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                <span class="ui-float-label">
                  <p-autoComplete [(ngModel)]="item.Units" [suggestions]="unitLists" (completeMethod)="searchUnits($event)"
                                  [dropdown]="true" (onSelect)="onSelectUnits($event,item)" [forceSelection]="true" field="UnitDescription"></p-autoComplete>
                  <label for="float-input">Standard Pack </label>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                <span class="ui-float-label">
                  <input type="text" [(ngModel)]="item.Quantity" pInputText id="ref_by" name="ref_by" class="form-control" rows="3">
                  <label for="float-input">Quantity </label>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="card-block">
              <div class="form-group">
                <span class="ui-float-label">
                  <input type="text" [(ngModel)]="item.Rate" pInputText id="ref_by" name="ref_by" class="form-control" rows="3">
                  <label for="float-input">Rate </label>
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-2">
            <div class="card-block">
              <div class="form-group">
                <button type="button" (click)="removeItem(item)">Delete</button>
                <i class="fa icon-trash" style="height:25px;width:20px;padding-top:10px;"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-10"></div>
          <div class="col-sm-2">
            <button type="button" (click)="addNewItem()">Add new</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="card-block">
          <div class="form-group">

            <div style="text-align:right">
              <label for="textarea-input"><strong> Total  Amount :</strong></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.TotalAmount"  type="text" pInputText id="totalamount" name="totalamount" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="card-block">
          <div class="form-group">

            <div  style="text-align:right">
              <label for="textarea-input"><strong> TDS Deduction (1 %) :</strong></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.TdsAmount"  type="text" pInputText id="tdsamount" name="tdsamount" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="card-block">
          <div class="form-group">

            <div style="text-align:right">
              <label for="textarea-input"><strong> Administrative Chargesion (9 %) :</strong></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.AdminChargesAmt" type="text" pInputText id="adminchargesamt" name="adminchargesamt" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8">
        <div class="card-block">
          <div class="form-group">
            <div style="text-align:right">
              <label for="textarea-input"><strong> Other Charges :</strong></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.OtherCharges"  type="text" pInputText id="othercharges" name="othercharges" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <div class="card-block">
          <div class="form-group">
            <div style="text-align:right">
              <label for="textarea-input"><strong> Total Bill Amount :</strong></label>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card-block">
          <div class="form-group">
            <div>
              <span class="ui-float-label">
                <input [(ngModel)]="FarmerChickEggsBillMaster.GrandTotal"  type="text" pInputText id="grandtotal" name="grandtotal" class="form-control" rows="3">
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-10"></div>
      <div class="col-sm-2">
        <button type="button" (click)="saveItems()">save</button>
      </div>
    </div>
    <!--</form>-->
  </div>
</div>

