
<div class="row">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8"></div>
      <button type="button" class="btn btn-outline-primary" (click)="redirectToAddNew()"><i class="fa fa-plus-circle"></i>Add New </button>
    </div>
  </div>
</div>

<ag-grid-angular style="width: 800px; height: 600px;"
                 id="myGrid"
                 class="ag-theme-balham"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 [defaultColDef]="defaultColDef"
                 [floatingFilter]="true"
                 (gridReady)="onGridReady($event)">
</ag-grid-angular>
