<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h4>Booking/Bill Customer Receipt</h4>
      </div>
    </div>
  </div>

  <table border='0' width='680px' cellpadding='0' cellspacing='0' align='center'>
    <tr> <td colspan="4"></td></tr>
    <tr>
      <td align='left'><strong>ReceiptNo : </strong></td>
      <td><strong>{{CustomerReceiptMaster.ReceiptNo}}</strong></td>
      <td align='right'><strong>Date : </strong></td>
      <td><strong>{{CustomerReceiptMaster.Date| date:'dd/MM/yyyy'}}</strong></td>
    </tr>
    <tr> <td colspan="4"></td></tr>
    <tr>
      <td align='left'><strong>Location : </strong></td>
      <td><strong>{{CustomerReceiptMaster.Location.LocationName}}</strong></td>
      <td align='right'><strong>Customer Name : </strong></td>
      <td><strong>{{CustomerReceiptMaster.CustmerName}}</strong></td>
    </tr>
    <tr> <td colspan="4"></td></tr>
    <tr>
      <td align='left'><strong>Payment Type : </strong></td>
      <td><strong>{{CustomerReceiptMaster.PaymentType}}</strong></td>
      <td align='right'><strong>BillRefNo : </strong></td>
      <td><strong>{{CustomerReceiptMaster.BillRefNo}}</strong></td>
    </tr>
    <tr> <td colspan="4"></td></tr>
    <tr>
      <td align='left'><strong>Payment Method : </strong></td>
      <td><strong>{{CustomerReceiptMaster.PaymentMethod}}</strong></td>
      <td align='right'><strong>Cheque No : </strong></td>
      <td><strong>{{CustomerReceiptMaster.ChequeNo}}</strong></td>
    </tr>
    <tr> <td colspan="4"></td></tr>
    <tr>
      <td align='left'><strong>Cash Amount : </strong></td>
      <td><strong>{{CustomerReceiptMaster.CashAmount}}</strong></td>
      <td align='right'><strong>Narration : </strong></td>
      <td><strong>{{CustomerReceiptMaster.Narration}}</strong></td>
    </tr>
    <tr> <td colspan="4"></td></tr>
     
  </table>
  <hr>

</div>
