<div class="container">
  <div class="row" style="padding-left:10px;">
    <div class="col-xs-12">
      <div class="invoice-title">
        <h4>Farmer Eggs/Chicks Receive Details</h4>
      </div>
    </div>
  </div>
  <div class="row" style="padding-left:10px;">
    <div style="width:60%">
      <strong>Record No : {{FarmerInwardMaster.RecordNo}}</strong>
    </div>
    <div style="width:40%">
      <strong>Date : {{FarmerInwardMaster.Date| date:'dd/MM/yyyy'}}</strong>
    </div>
  </div>

  <div class="row" style="padding-left:10px;">
    <div style="width:60%">
      <strong>CustomerName : {{FarmerInwardMaster.Customer.CustmerName}}</strong>
    </div>
    <div style="width:40%">
      <strong>Location : {{FarmerInwardMaster.LocationName}}</strong>
    </div>
  </div>
  <div class="row" style="padding-left:10px;">
    <div style="width:60%">
      <strong> Plan : {{FarmerInwardMaster.PlanName}}</strong>
    </div>
    <div style="width:40%">
      <strong> CollectionAgentName : {{FarmerInwardMaster.CollectionAgentName}}</strong>
    </div>
  </div>

  <hr>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title"><strong>Order summary</strong></h4>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-condensed">
              <thead>
                <tr>
                  <td style="width:250px"><strong>Product Name</strong></td>
                  <td style="width:250px" class="text-center"><strong>Standard Pack</strong></td>
                  <td class="text-right"><strong>Quantity</strong></td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of FarmerInwardDetailsList">
                  <td style="width:250px"><strong>{{item.Product.ProductName}}</strong></td>
                  <td style="width:250px" class="text-center"><strong>{{item.ProductTypeUnit}}</strong></td>
                  <td class="text-right"><strong>{{item.Quantity}}</strong></td>
                </tr>
                <!-- foreach ($order->lineItems as $line) or some such thing here -->
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
  <table border='0' width='690px' height="50px" cellpadding='0' cellspacing='0' align='center'>
    <tr> <td colspan="6"></td></tr>
    <tr></tr>
    <tr></tr>
    <tr>
      <td align='left' height="25px"><strong> ( Receiver Sign ) </strong></td>
      <td align='right' height="25px"><strong>( Authorised Signature ) </strong></td>
    </tr>
  </table>
</div>
