<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      <strong>Customer Master</strong>
      <!--<small>Form</small>-->
    </div>
    <form [formGroup]="customerForm" (ngSubmit)="saveCustomer()">
      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Customer Name:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CustmerName" type="text" pInputText id="customername" name="customername" class="form-control" rows="3">
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Customer Mobile No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="CustomerMobileNo" type="text" pInputText id="customermobileno" name="customermobileno" class="form-control" rows="3">
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-block">
        <div class="form-group ">
          <label for="textarea-input"><strong>Address Details:</strong></label>
          <div>
            <span class="ui-float-label">
              <textarea formControlName="Address" id="textarea-input" name="textarea-input" rows="2" class="form-control"></textarea>
              
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>State :</strong></label>
              <select formControlName="State" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>District :</strong></label>
              <select formControlName="District" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Taluka :</strong></label>
              <select formControlName="Taluka" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>City :</strong></label>
              <select formControlName="City" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>PIN Code:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Pincode" type="text" pInputText id="pincode" name="pincode" class="form-control">
                  
                </span>

              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="select"><strong>Location :</strong></label>
              <select formControlName="Taluka" id="select" name="select" class="form-control">
                <option value="0">Please select</option>
                <option value="1">Option #1</option>
                <option value="2">Option #2</option>
                <option value="3">Option #3</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>GST No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="GstNo" type="text" pInputText id="gstno" name="gstno" class="form-control">
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>PAN No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="PanNo" type="text" pInputText id="panno" name="panno" class="form-control" rows="3">
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Contact Person Name:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ContactPerson" id="ContactPerson" name="ContactPerson" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Contact No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="ConatctPersonNo" id="ConatctPersonNo" name="ConatctPersonNo" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Designation:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="Designation" id="designation" name="designation" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>AccountHolderName:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AccountHolderName" id="accountholdername" name="accountholdername" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>IFSC Code:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="IfscCode" id="ifsccode" name="ifsccode" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>BankName:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="BankName" id="bankname" name="bankname" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>Account No:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AccountNo" id="accountno" name="accountno" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
              <label for="textarea-input"><strong>AccountType:</strong></label>
              <div>
                <span class="ui-float-label">
                  <input formControlName="AccountType" id="accounttype" name="accounttype" class="form-control" />
                  
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card-block">
            <div class="form-group">
            </div>
          </div>
        </div>
      </div>

      <div class="input-group-btn" dropdown>
        <button type="submit" class="btn btn-outline-primary">&nbsp; SUBMIT </button>
      </div>
    </form>
  </div>
</div>
