<div class="col-sm-12">
  <div class="card">
    <div class="card-header">
      Customer Master
    </div>
    <div class="card-body">
      <form [formGroup]="customerForm"  (ngSubmit)="saveCustomer()">
        <div class="row">
          <div  class="form-group col-sm-7">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input formControlName="CustmerName" type="text" id="customername" name="customername"  class="form-control" placeholder="Cutomer Name">
            </div>
          </div>
          <div  class="form-group col-sm-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input formControlName="CustomerMobileNo"  type="text" id="mobileno" name="mobileno" class="form-control" placeholder="MobileNo">
            </div>
          </div>
        </div>
        <u><b>Address Details</b></u>
        <div class="form-group row">
          <div class="col-md-12">
            <textarea formControlName="Address" id="textarea-input" name="textarea-input" rows="2" class="form-control" placeholder="Enter Your Address.."></textarea>
          </div>
        </div>

        <div class="row">
          <div  class="form-group col-sm-4">
            <!-- <div class="col-md-12"> -->
            <div class="input-group">
              <input formControlName="State" id="input2-group3" name="input2-group3" class="form-control" placeholder="State" autocomplete="state">
              <div class="input-group-append" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>
                  Select State
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                  <a class="dropdown-item" href="#">Maharashtra</a>
                  <a class="dropdown-item" href="#">Goa</a>
                  <a class="dropdown-item" href="#">Panjab</a>
                  <!-- <div role="separator" class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Andra Pradesh</a>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <!-- <div class="col-md-12"> -->
            <div class="input-group">
              <input formControlName="District" id="input2-group3" name="input2-group3" class="form-control" placeholder="District" autocomplete="email">
              <div class="input-group-append" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>
                  Select District
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                  <a class="dropdown-item" href="#">Pune</a>
                  <a class="dropdown-item" href="#">Satara</a>
                  <a class="dropdown-item" href="#">Sangali</a>
                  <!-- <div role="separator" class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Kolhapur</a>
                </div>
              </div>
              <!-- </div> -->
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <input  formControlName="Taluka" id="input2-group3" name="input2-group3" class="form-control" placeholder="Taluka" autocomplete="taluka">
              <div class="input-group-append" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>
                  Select Taluka
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                  <a class="dropdown-item" href="#">Maval</a>
                  <a class="dropdown-item" href="#">Khed</a>
                  <a class="dropdown-item" href="#">Shirur</a>
                  <!-- <div role="separator" class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Junner</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">

          <div  class="form-group col-sm-4">
            <div class="input-group">
              <input  formControlName="City" id="input2-group3" name="input2-group3" class="form-control" placeholder="City/Village" autocomplete="email">
              <div class="input-group-append" dropdown>
                <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>
                  Select City
                  <span class="caret"></span>
                </button>
                <div class="dropdown-menu" *dropdownMenu>
                  <a class="dropdown-item" href="#">Talegaon</a>
                  <a class="dropdown-item" href="#">Vadgaon</a>
                  <a class="dropdown-item" href="#">Lonavala</a>
                  <!-- <div role="separator" class="dropdown-divider"></div> -->
                  <a class="dropdown-item" href="#">Kamshet</a>
                </div>
              </div>
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input formControlName="Pincode" type="text" id="pincode" name="gstno" class="form-control" placeholder="PinCode">
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <div class="input-group">
                <input formControlName="Location" id="input2-group3" name="input2-group3" class="form-control" placeholder="Location" autocomplete="email">
                <div class="input-group-append" dropdown>
                  <button type="button" class="btn btn-primary dropdown-toggle" dropdownToggle>
                    Select Location
                    <span class="caret"></span>
                  </button>
                  <div class="dropdown-menu" *dropdownMenu>
                    <a class="dropdown-item" href="#">Sangali</a>
                    <a class="dropdown-item" href="#">Satara</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div  class="form-group col-sm-7">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input formControlName="GstNo" type="text" id="gstno" name="gstno" class="form-control" placeholder="GstNo">
            </div>
          </div>
          <div  class="form-group col-sm-5">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
              </div>
              <input formControlName="PanNo" type="text" id="panno" name="panno" class="form-control" placeholder="PanNo">
            </div>
          </div>
        </div>
        <u><b>Contact Details</b></u>
        <div class="row">
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="ContactPerson" type="text" id="contactname" name="gstno" class="form-control" placeholder="ContactPersonName">
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="ConatctPersonNo" type="text" id="contactperno" name="contactperno" class="form-control" placeholder="ContactNo">
            </div>
          </div>
          <div  class="form-group col-sm-4">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="Designation" type="text" id="designation" name="designation" class="form-control" placeholder="Designation">
            </div>
          </div>
        </div>
        <!-- <div class="card-header"> -->
        <u><b>Bank Details</b></u>
        <!-- </div> -->
        <div class="row">
          <div  class="form-group col-sm-7">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="" type="text" id="accountholdername" name="accountholdername" class="form-control" placeholder="AccountHolderName">
            </div>
          </div>
          <div  class="form-group col-sm-5">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="IfscCode" type="text" id="ifsccode" name="ifsccode" class="form-control" placeholder="IfscCode">
            </div>
          </div>
        </div>
        <div class="row">
          <div  class="form-group col-sm-7">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="BankName"    type="text" id="bankname" name="bankname" class="form-control" placeholder="BankName">
            </div>
          </div>
          <div  class="form-group col-sm-5">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="AccountNo"    type="text" id="accountno" name="accountno" class="form-control" placeholder="AccountNo">
            </div>
          </div>
        </div>
        <div class="row">
          <div  class="form-group col-sm-5">
            <div class="input-group">
              <div class="input-group-prepend">
              </div>
              <input formControlName="AccountType"    type="text" id="accounttype" name="accounttype" class="form-control" placeholder="AccountType">
            </div>
          </div>
        </div>
        <div class="form-group form-actions">
          <button type="submit"  class="btn btn-sm btn-success">Submit</button>
        </div>
      </form>
    </div>
  </div>
  </div>
